    <div class="container mt-5">
    <div class="">
      <h3 class="text-center">lista de compras <i class="fas fa-cash-register"></i></h3>
    </div>
    <div class="row">
         <div class="col-lg-8 offset-lg-2 mb-4">
          <input class="text" [(ngModel)]="nueva" (keyup.enter)="agregarcompra()" class="form-control text-center" placeholder="ingrese una compra">

         </div>
    </div>

  <div class="row">
    <div class="col-lg-4">
      <h4 class="monserrat">todas las compras</h4>
      <div cdkDropList class="example-list" id="list-todo" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['list-progress']"(cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

        <div class="col-lg-4">
          <h4 class="monserrat">Pagar compras</h4>
          <div cdkDropList class="example-list" id="list-progress" [cdkDropListData]="progress" [cdkDropListConnectedTo]="['list-todo']"(cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item}}</div>
          </div>

    </div>

  </div>

</div>

<p>compras works!</p>


